/* This ensures that any tool pop-up goes infront of the header */
.navbar-fixed-bottom {
 z-index:1000;
}

.navbar-fixed-bottom {
  margin-right:0px;
  position: relative;
  margin-top: 0;
}

#footer-container {
  background-color: #222222;
  background-image: -moz-linear-gradient(center top , #2A2A2A, #161616);
  color: #666666;
  box-shadow: 0 1px 3px rgba(255, 0, 0, 0), 0 -1px 0 rgba(0, 0, 0, 0) inset;
  padding: 0 40px;
}

#footer-title {
  padding-bottom:10px;
}

#footer-row {
  color: #666666;
  margin-top: 1em;
}
