
/* Generic layout stuff */
.hide 
{
  display:none
}

/* Global */
body {
  background-color:#161616;
  padding-left: 0;
  padding-right: 0;
}

/* This provides a fixed distance between the header and the main content */
#top-spacer {
  height: 125px;
}

/* This padding provides some space around the main container for mobile views */
#main-container {
  padding: 5px 5px 0 5px;
}

#background-container {
  background-color:$main_container_bg_color; 
  background-image: none;
}




