@import "bootstrap";
@import "bootstrap-responsive";

@import 'blacklight/blacklight_defaults';


$logo_image: 'blacklight/logo.png' !default;


//bootstrap var
$navbarHeight: 50px;

$h1FontSize: 20px; 

.navbar-fixed-top, .navbar-fixed-bottom {
  z-index:1000;
}



body {
  background-color:#161616;
  padding-left: 0;
  padding-right: 0;
}

h1 {
  font-size:$h1FontSize;
}

#background-container {
  width: 100%;
}

#main-container {
  padding: 0 5px 0 5px;
}




.navbar-fixed-bottom {
  margin-right:0px;
}

#facets
{	
  h2
  {
    font-size:15px!important;
    color:#555;
  }

  h3
  {
    padding: 3px 15px;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    color: #999999;
    cursor:pointer;
    font-weight:400;
    margin-bottom:0;
    text-align:justify;
  }

    li
    {
      list-style:none;
      margin:.3em 0;

    a.remove
    {
      color:#666;
    }

    a:hover
    {
      background-color:#eee;
    }

    &.more_facets_link
    {
      text-align:right;
    }
   }

}


//header

.navbar-inner {
  background-color: #000;
  background-image: none;
  padding-top: 0.5em;
}

.navbar .brand {
    color: #fff;
}

#navbar-fixed-results-top {
  margin: 0;
  opacity: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#footer-container {
  background-color: #222222;
  background-image: -moz-linear-gradient(center top , #2A2A2A, #161616);
  color: #666666;
  box-shadow: 0 1px 3px rgba(255, 0, 0, 0), 0 -1px 0 rgba(0, 0, 0, 0) inset;
  padding: 0 40px;
}

#footer-title {
  padding-bottom:10px;
}

#footer-row {
  color: #666666;
  margin-top: 1em;
}

.navbar-fixed-bottom {
    position: relative;
    margin-top: 0;
}

#home-text-container {
  padding-top:1em;
}


//Links in nav bar
//selected-items this is css to deal with the selected number span within the links menu
#selected-items {
  #desktop-folder-link { 
      float:left;
      padding-right:5px;
  }
  #folder  {
    float: right;
    padding: 9px 10px 0 0;
 }
}
 




//search form
#search-bar {
  background: url("/assets/blacklight/border-eebab062f99ac5bc2bcab5c23a7475e3.png") repeat-x scroll left top #FFFFFF;
  margin: 0 auto;
  max-width: 100%;
  opacity: 1 !important;
}


#search-bar.navbar-inner {
  box-shadow: none;
}

.search-form {
  margin: 0;
  padding: 0.5em 0 0.5em 0;
}

#moblet-search-bar {
  background: url("/assets/blacklight/border-eebab062f99ac5bc2bcab5c23a7475e3.png") repeat-x scroll left top #FFFFFF;
  padding-bottom: 1em;
}

#moblet-search-inpur {
  padding-bottom: 1em;
}



//logo
.brand-logo {
   background:transparent asset_url($logo_image,image) no-repeat top left;
	  height:50px;
	  margin:0;
	  width:120px;
   min-height:50px;
   min-width:120px;
}


/* Results page */

#top-spacer {
  height: 125px;
}

//Facets
.facet_select {
  display:inline-block !important;
}

.remove {
 margin-left: 0px !important;
 padding: 3px 5px !important;
 display:inline !important;
 
}

//start over link
#startOverLink
{
   right: 0.66em;
}





/* constraint (you searched for:) details: */
$constraint_bg_color: #E2EDFE !default;
$constraint_border_color: #C4DAFE !default;
$constraint_border_active_color: #FFD27A !default;


#appliedParams
{
	//background-color:$search_ui_bg_color;
	//border-bottom:1px solid $search_ui_border_color;
	//border-left:1px solid $search_ui_border_color;
	//border-right:1px solid $search_ui_border_color;
	margin-bottom:1.5em;
	padding:1em 0.66em 0 1em;

  .label
  {
    left:-100000000px;
    position:absolute;
  }
}

.appliedFilter
{
	background: $constraint_bg_color;
	border:1px solid $constraint_border_color;
	display:inline-block;
	margin-bottom:0.66em;
	margin-right:0.33em;
	padding:3px 3px 3px 1.5em;
	position:relative;
  @include border-radius(15px 15px 15px 15px);

  .btnRemove
  {
    background:asset_url('blacklight/remove.gif', image) no-repeat center center;
    border-bottom:none;
    border-left:1px solid $constraint_border_color;
    display:block;
    height:100%;
    outline:none;
    position:absolute;
    right:0;
    text-indent:-99999px;
    top:0;
    width:32px;
    z-index:5;
  }

  .btnRemove:active,.btnRemove:focus
  {
    border:1px dotted $constraint_border_active_color;
  }

  .queryName,.filterName
  {
    background:asset_url('blacklight/separator.gif',image) no-repeat right center;
    padding-right:14px;
  }
}

.filterValue
{
	padding-right:37px;
}






#sortAndPerPage {
    background-color: #efefef;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 0 0 0 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
    padding: 0.5em 0.5em 0;

  select {
    width: 150px;
  }
  label {
    margin: 0;
  }
}


//From formatting .scss
form.per_page
{
	float:right;
}

form.sort
{
	display:inline;
}





//From catalog.css.scsss

/* label (field names) */
$field_name_color: #888 !default;

dl.defList
{
	clear:both;
	overflow:auto;
	padding:0.5em 0;

  dd
  {
    float:left;
    margin:0;
    padding:2px 0;
    text-align:left; 
  }

  dt
  {
    clear:both;
    color: $field_name_color;
    float:left;
    margin:0;
    padding:2px 1em 2px 0;
    text-align:right;
    width:20%;
  }
}

.documentFunctions
{
	float:right;
	margin-bottom:0.5em;
	margin-left:1em;

  .folder_toggle,.bookmark_toggle
  {
    display:inline;
  }
}

#documents
{
	margin-bottom:1em;
	margin-top:1em;


  .documentHeader
  {
    padding: 5px 0 0;
  }

  .per_page
  {
    padding-right:5px;
  }
}


/* separates documents, facets */
$dotted_border_color: #CCC !default;

.document
{
	border-bottom:1px dotted $dotted_border_color; 
	clear:both;
}



/* background color of page */
$page_bg_color: #2E4F81 !default;

.page_links
{
	margin-left:8em;
	margin-right:8em;
	text-align:center;

  span.current
  {
    background:none repeat scroll 0 0 $page_bg_color;
    border:1px solid $page_bg_color;
    color:#FFF;
    font-weight:700;
  }
}




//Label toggle folder
//
//
label.toggle_bookmark,label.toggle_folder
{
	color:inherit;
	display:inline-block;
	font-weight:inherit;
	min-width:8.5em;
	text-align:left;
}

label.toggle_folder
{
	min-width:6em;
}


//Show page css

#tools-nav {
	 background-color: #EFEFEF;
   border: 0px solid rgba(0, 0, 0, 0.05);
   border-radius: 0 0 0 0;
   box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
   padding: 0.5em;
  
  .nav {
    margin-top:0px;
    margin-bottom:0px;
  }

  .nav-pills {
    li {
        a {
           border-radius: 0 0 0 0;
           margin-right: -1px;
        }
    }
  }
}


.pageEntriesInfo
{
	padding:0 0.66em 0.66em 0;
	position:relative;
}


#previousNextDocument {
   .next {
    border: 1px solid #DDDDDD;
   }
   .previous {
    margin-right: -1px;
   }
}


#librarian_view
{
	left:-17%;
	text-align:left;
	top:10%;
	width:700px;
}

#marc_view
{
	padding:5px;
	text-align:left;

  .field
  {
    border-bottom: $marc_item_separator;
    clear:both;
  }

  .ind1, .ind2
  {
    display:inline;
    padding:0 5px;
  }

  .subfields
  {
    padding-left:5em;
  }

  .tag_ind
  {
    float:left;
  }
}



// All the parameters below are the defaults assumed by blacklight. If you want
// to change one, uncomment and change.

// The default grid used is the susy framework. (http://susy.oddbird.net)

/* Grid parameters */
/* changing total cols is not recommended unless you're going to redo blacklight/_layout.css.sass */
// $total-cols: 24;

/* But the widths are changeable to px, em. */
// $col-width: 2.5em;
// $gutter-width: .5em;
// $side-gutter-width: 2em;

/*
@import 'blacklight/grids/susy_grid';
*/



// $background_image: 'blacklight/bg.png';
// $logo_image: 'blacklight/logo.png';

/* Various elements of search customization share these colors */

// $search_ui_border_color: #AAAAAA;
// $search_ui_bg_color: #F0F0F0;

/* separates documents, facets */
// $dotted_border_color: #CCC;

/* background color of page */
// $page_bg_color: #2E4F81;


/* label (field names) */
// $field_name_color: #888;


/* constraint (you searched for:) details: */

// $constraint_bg_color: #E2EDFE;

// $constraint_border_color: #C4DAFE;
// $constraint_border_active_color: #FFD27A;

/* dialog that pops up when you pick more on facets */
// $facet_extended_button_bg_color: #F6F6F6;
// $facet_extended_button_border_color: #CCC;
// $facet_extended_disabled_button_bg_color: #E2EDFE;
// $facet_extended_disabled_border_color: #C4DAFE;
// $facet_extended_button_hover_bg_color: #DADADA;
// $facet_extended_button_hover_border_color: #999;
// $facet_extended_button_hover_color: #212121;

/* border between items on marc view */
// $marc_item_separator: 1px solid #CCC;

// Currently unused, but this import handles mixins common to blacklight

/*
@import 'blacklight/mixins';
*/


// And then this imports the base blacklight stylesheet.
/*
@import 'blacklight/blacklight_base';
*/

