@import "bootstrap";
@import "bootstrap-responsive";


$logo_image: 'blacklight/logo.png' !default;

//header

.navbar-inner {
  background-color: #000;
  background-image: none;
}

.navbar .brand {
    color: #fff;
}

#navbar-fixed-results-top {
  margin: 0;
  opacity: 0.8;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#footer-container {
  background-color: #222222;
  background-image: -moz-linear-gradient(center top , #2A2A2A, #161616);
  color: #666666;
  box-shadow: 0 1px 3px rgba(255, 0, 0, 0), 0 -1px 0 rgba(0, 0, 0, 0) inset;
  padding: 0 40px;
}

#footer-title {
  padding-bottom:10px;
}

#footer-row {
  color: #666666;
  margin-top: 1em;
}

.navbar-fixed-bottom {
    position: relative;
    margin-top: 0;
}





//search form
#search-bar {
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 1 !important;
}

#search-bar.navbar-inner {
  box-shadow: none;
}

#tablet-search-bar {
  background-color: #fff;
  padding-bottom: 1em;
}

#tablet-search-input {
  padding-bottom: 1em;
}

.search-form {
  margin: 0;
  padding: 0.5em 0 0.5em 0;
}



//logo
.brand-logo {
   background:transparent asset_url($logo_image,image) no-repeat top left;
	  height:35px;
	  margin:0;
	  width:120px;
   min-height:35px;
   min-width:120px;
}


/* Results page */

#top-spacer {
  height: 95px;
}


//Facets
.facet_select {
  display:inline-block !important;
}

.remove {
 margin-left: 0px !important;
 padding: 3px 5px !important;
 display:inline !important;
 
}

//start over link
#startOverLink
{
    background: url("/assets/blacklight/start_over.gif") no-repeat scroll center center transparent;
    border-bottom: medium none;
    color: #FFFFFF;
    line-height: 22px;
    margin-top: -12px;
    padding: 2px 7px 3px;
    right: 0.66em;
    text-decoration: none;
}





/* constraint (you searched for:) details: */
$constraint_bg_color: #E2EDFE !default;
$constraint_border_color: #C4DAFE !default;
$constraint_border_active_color: #FFD27A !default;


#appliedParams
{
	//background-color:$search_ui_bg_color;
	//border-bottom:1px solid $search_ui_border_color;
	//border-left:1px solid $search_ui_border_color;
	//border-right:1px solid $search_ui_border_color;
	margin-bottom:1.5em;
	padding:1em 0.66em 0 1em;

  .label
  {
    left:-100000000px;
    position:absolute;
  }
}

.appliedFilter
{
	background: $constraint_bg_color;
	border:1px solid $constraint_border_color;
	display:inline-block;
	margin-bottom:0.66em;
	margin-right:0.33em;
	padding:3px 3px 3px 1.5em;
	position:relative;
  @include border-radius(15px 15px 15px 15px);

  .btnRemove
  {
    background:asset_url('blacklight/remove.gif', image) no-repeat center center;
    border-bottom:none;
    border-left:1px solid $constraint_border_color;
    display:block;
    height:100%;
    outline:none;
    position:absolute;
    right:0;
    text-indent:-99999px;
    top:0;
    width:32px;
    z-index:5;
  }

  .btnRemove:active,.btnRemove:focus
  {
    border:1px dotted $constraint_border_active_color;
  }

  .queryName,.filterName
  {
    background:asset_url('blacklight/separator.gif',image) no-repeat right center;
    padding-right:14px;
  }
}

.filterValue
{
	padding-right:37px;
}






#sortAndPerPage {
    background-color: #efefef;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 0 0 0 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
    padding: 0.5em 0.5em 0;

  select {
    width: 150px;
  }
  label {
    margin: 0;
  }
}


//From formatting .scss
form.per_page
{
	float:right;
}

form.sort
{
	display:inline;
}




// All the parameters below are the defaults assumed by blacklight. If you want
// to change one, uncomment and change.

// The default grid used is the susy framework. (http://susy.oddbird.net)

/* Grid parameters */
/* changing total cols is not recommended unless you're going to redo blacklight/_layout.css.sass */
// $total-cols: 24;

/* But the widths are changeable to px, em. */
// $col-width: 2.5em;
// $gutter-width: .5em;
// $side-gutter-width: 2em;

/*
@import 'blacklight/grids/susy_grid';
*/



// $background_image: 'blacklight/bg.png';
// $logo_image: 'blacklight/logo.png';

/* Various elements of search customization share these colors */

// $search_ui_border_color: #AAAAAA;
// $search_ui_bg_color: #F0F0F0;

/* separates documents, facets */
// $dotted_border_color: #CCC;

/* background color of page */
// $page_bg_color: #2E4F81;


/* label (field names) */
// $field_name_color: #888;


/* constraint (you searched for:) details: */

// $constraint_bg_color: #E2EDFE;

// $constraint_border_color: #C4DAFE;
// $constraint_border_active_color: #FFD27A;

/* dialog that pops up when you pick more on facets */
// $facet_extended_button_bg_color: #F6F6F6;
// $facet_extended_button_border_color: #CCC;
// $facet_extended_disabled_button_bg_color: #E2EDFE;
// $facet_extended_disabled_border_color: #C4DAFE;
// $facet_extended_button_hover_bg_color: #DADADA;
// $facet_extended_button_hover_border_color: #999;
// $facet_extended_button_hover_color: #212121;

/* border between items on marc view */
// $marc_item_separator: 1px solid #CCC;

// Currently unused, but this import handles mixins common to blacklight

/*
@import 'blacklight/mixins';
*/


// And then this imports the base blacklight stylesheet.
/*
@import 'blacklight/blacklight_base';
*/

